# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Spotlight
.Spotlight-V100

# Apple metadata
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.Trashes
.VolumeIcon.icns

# macOS folder attributes
.com.apple.timemachine.donotpresent
.com.apple.metadata:*
