.loadAvatarRow {
  width: 320px;
  height: 50px;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteConfirmRow {
  background: #D44B3E;
  color: #fff;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;    /* centriranje okomito   */
  justify-content: center;/* centriranje vodoravno */ 
  width: 100%;
  height: 100%;
  text-align: center; 
}
.iconButton img {
  width: 14px;
  height: 14px;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}
.loggedInPage {
  width: var(--page-width);
  min-height: var(--page-height);
  margin: 0 auto;
  background: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
}

.count {
  font-family: "Outfit", sans-serif;
  font-size: 23px;
  font-weight: 400;
  color: #000;
}

.iconButton {
  background: none;
  width: 14px;
  border: none;
  line-height: 1;
  padding-left: 14px;
  cursor: pointer;
  color: #000;
  left: 426px;
  outline: none;
  transition: none
}

.avatarList {
  list-style: none;
  padding: 24px 16px;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarItem {
  width: 100%;
  width: 349px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.avatar-name {
  width: 100%;
  width: 320px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background: #fff;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.avatar-name.selected {
  background: #000;
  color: #fff;
}


.button-load {
  width: 320px;
  height: 50px;
  background: linear-gradient(to right, #2b214d, #13536c);
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

.button-load.disabled,
.button-load:disabled {
  opacity: 0.4;
  pointer-events: none;
  background: linear-gradient(to right, #372C53, #1F5167);
  color: #fff;
}

.delete-confirm {
  width: 100%;
  height: 50px;
  background: #D44B3E;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 16px;
}

.footer-actions {
  display: flex;
  gap: 16px;
}

.button-back {
  flex: 0 0 100px;
  height: 50px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button-create {
  flex: 1;
  height: 50px;
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

@media (min-width: 1440px) {
  .appHeader {
    height: 70px;
    padding-top: 0;
  }
  .loggedInPage {
    width: 1440px;
  }
  .avatarList {
    padding: 24px 16px;
  }
  .iconButton img {
    width: 17px;
    height: 17px;
  }
  .iconButton {
    width: 17px;
  }
  .avatar-name {
    width: 100%;
    width: 422px;
  }
  .avatarItem {
    width: 100%;
    width: 459px;
  }
}


@media (min-width: 1280px) {
  .appHeader {
    width: 1440px;
    height: 70px;
    padding-inline: 24px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-top: 0;
  }
  .loggedInPage {
    width: 1440px;
  }
}